<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2>붓꽃 분류 딥러닝 예제</h2>
    <form action="check" method="post">
        <table width="70%" style="table-layout: fixed" border="0">
            <tr>
                <th width="100">꽃받침의 길이</th>
                <td><input type="text" name="sepal_length" value="5.1"></td>
            </tr>
            <tr>
                <th>꽃받침의 너비</th>
                <td><input type="text" name="sepal_width" value="3.5"></td>
            </tr>
            <tr>
                <th>꽃잎의 길이</th>
                <td><input type="text" name="petal_length" value="1.4"></td>
            </tr>
            <tr>
                <th>꽃잎의 너비</th>
                <td><input type="text" name="petal_width" value="0.2"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="예측">
                    <input type="reset" value="취소">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>